<div class="user-info-cntr" id="user-info-cntr">
  <div class="sign-in-cntr">
    <p>Sign In </p>
    <div class="details">
      <div class="input-cntr">
        <input type="email" placeholder="Email" id="email" [(ngModel)]="email" (keyup)="validateEmail()">
        <div class="error" *ngIf="emailErrorText">*Please enter the valid email</div>
      </div>

      <div class="input-cntr">
        <input type="password" placeholder="Enter Password" id="password" [(ngModel)]="password" (keyup)="checkAllValues()">
      </div>

      <div class="checkout" id="login" (click)=loginUser() [ngClass]="disabled ? 'disabled' : ''">
        Log in
      </div>

      <div class="checkout" id="login" (click)=registerUser() [ngClass]="disabled ? 'disabled' : ''">
        Register
      </div>
    </div>
  </div>
</div>
<jw-modal id="process-modal" class="process-modal">
  <img src="assets/images/process-gif.gif" alt="">
  <p> Connecting with server....</p>
</jw-modal>

<jw-modal id="callback-modal" class="process-modal">
  <p> {{errorText}}</p>
</jw-modal>
