<div class="playlist-cntr">
  <p class="head-txt">All Playlists
    <i class="fa fa-list"></i>
  </p>
  <div class="floating-button-cntr" routerLink="createPlaylist">
    <div class="float-button">
       +
    </div>
  </div>

  <div class="each-playlist-cntr" *ngIf="adminPlaylist && isAdmin">
    <p class="playlist-head">YOUR PLAYLISTS</p>
    <div class="each-playlist" *ngFor="let playlist of adminPlaylist" (click)=getSongsFromPlaylist(playlist._id,playlist.title,playlist.description)>
      <p>{{playlist.title}}
        <i class="fa fa-trash-o" (click)=deletePlaylist(playlist._id,$event)></i>
        <i class="fa fa-pencil" (click)="openPlaylistEditModal('edit-playlist', $event, playlist._id,playlist.title,playlist.description, playlist.is_private)"></i>

      </p>
      <p>{{playlist.description}}</p>
      <p>Type :{{playlist.is_private == 'true' ? ' Private':' Public'}}</p>
    </div>
  </div>

  <div class="each-playlist-cntr" *ngIf="playlists && !isAdmin">
    <p class="playlist-head">YOUR PLAYLISTS</p>
    <div class="each-playlist" *ngFor="let playlist of playlists.userList" (click)=getSongsFromPlaylist(playlist._id,playlist.title,playlist.description)>
      <p>{{playlist.title}}
        <i class="fa fa-pencil" (click)="openPlaylistEditModal('edit-playlist', $event, playlist._id,playlist.title,playlist.description, playlist.is_private)"></i>
      </p>
      <p>{{playlist.description}}</p>
      <p>Type :{{playlist.is_private == 'true' ? ' Private':' Public'}}</p>
    </div>
  </div>

  <div class="each-playlist-cntr" *ngIf="playlists && !isAdmin">
    <p class="playlist-head">OTHERS PLAYLISTS</p>
    <div class="each-playlist others" *ngFor="let playlist of playlists.otherList" (click)=getSongsFromPlaylist(playlist._id,playlist.title,playlist.description)>
      <p>{{playlist.title}}</p>
      <p>{{playlist.description}}</p>
      <p>Type :{{playlist.is_private == 'true' ? ' Private':' Public'}}</p>
    </div>
  </div>
</div>

<div class="playlist-cntr" *ngIf="songsList">
  <p class="head-txt"> Songs in "{{playListName}}": </p>
  <div class="songs-cntr each-playlist-cntr">
    <div class="each-playlist-song" *ngFor="let song of songsList.songs">
        <p>  <i class="fa fa-music"></i> {{song.song_title}}</p>
        <p class="delete-song" (click)=deleteSongFromPlaylist(song._id)> <i class="fa fa-trash-o"></i></p>
    </div>
  </div>
</div>

<jw-modal id="edit-playlist">
  <p class="header"> Edit Playlist Fields: </p>
    <input type="text" name="" value="{{playListName}}" [(ngModel)]="editedName">
    <input type="text" name="" value="{{playListDescription}}" [(ngModel)]="editedDescription">
    <div class="divider">
        <p>
          <input type="radio" id="private" name="type" value="true" [(ngModel)]="playListType">
          <label for="private">Private</label>
        </p>
        <p>
          <input type="radio" id="public" name="type" value="false" [(ngModel)]="playListType">
          <label for="public">Public</label>
        </p>
    </div>
    <div class="add-btn-cntr">
      <div class="add-btn" (click)="editPlaylist()">
        Edit Playlist
      </div>
    </div>
</jw-modal>

<jw-modal id="process-modal" class="process-modal">
  <img src="assets/images/process-gif.gif" alt="">
  <p> Connecting with server....</p>
</jw-modal>
