<div class="song-component-cntr">
  <!-- <div class="giphy">
    <img src="/assets/images/200.webp" alt="">
  </div> -->
  <div class="song-section">
    <div class="head-txt">Global Top 10
      <div class="search-cntr">
        <input type="text" name="" value="" placeholder="Search song, artsit, genre " class="search" [(ngModel)]='searchText'>
        <i class="fa fa-search" (click) = "searchWithKeywords()"></i>
        <div class="add-song-cntr" routerLink="addSong">
          <div class="floating-button-cntr">
            <div class="float-button">
               +
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="song-list-cntr">
      <div *ngIf="songList">
        <div *ngFor="let song of songList">
          <div class="each-song" [attr.data-song-id]="song._id" *ngIf="song.is_visible == 'true' || currentUser.is_admin == 'true' ">
            <!-- <div class="img-cntr">
              <img src={{selectRandom()}} alt="">
            </div> -->
            <div class="song-info">
                <p class="song-title">{{song.song_title}} <span>({{song.year}})</span></p>
                <div class="song-attribute-details">
                  <span>BY: {{song.artist}}</span>
                  <span>ALBUM: {{song.album}}</span>
                  <span>GENRE: {{song.genre}}</span>
                  <span (click)="openModal('open-playlist', song._id)"><i class="fa fa-heart"></i></span>
                </div>
            </div>

            <div class="star-cntr" id="star-cntr" *ngIf="song.avg_rating">
              <i class="fa fa-star"></i>  {{song.avg_rating}}<span>/5</span>
            </div>
            <div class="extra-detail-cntr collapsed">
              <div class="extra-details" *ngIf="recentReview">
                <p *ngIf="currentUser.is_admin == 'true'">Visibility: {{song.is_visible == 'true' ? 'Public' : 'Hidden'}} <i class="fa fa-pencil" (click)='toggleView(song._id, song.is_visible)'></i></p>
                <p>Total Reviews: {{recentReview.count}}</p>
                <p>Most Recent Review ({{recentReview.time}}) : {{recentReview.recent_review.review_text}} </p>
                <p [routerLink]="[song._id, 'review']" class="reviewLink">View Reviews For this Song</p>
              </div>
            </div>
            <div class="" *ngIf="!song.avg_rating">
              <p [routerLink]="[song._id, 'review']" class="reviewLink">Give Review For this Song</p>
            </div>
            <div class="collapsed know-more" (click)="toggleAccordian($event, song._id)" *ngIf="song.avg_rating">
              View Details
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="" >
  <jw-modal id="open-playlist">
    <p class="header"> Add to: </p>
    <div class=""  *ngIf="playlists">
      <div class="" *ngFor="let playlist of playlists.userList">
        <p>{{playlist.title}}</p>
        <div class="add-btn-cntr">
          <div class="add-btn" (click)="addSongToPlaylist(playlist._id)">
            ADD
          </div>
        </div>
      </div>
    </div>
  </jw-modal>
</div>

<jw-modal id="process-modal" class="process-modal">
  <img src="assets/images/process-gif.gif" alt="">
  <p> Connecting with server....</p>
</jw-modal>
