.review-cntr{
  font-family: "Didact Gothic", sans-serif;
  .each-review-cntr{
    padding: 30px;
    background: #e4daf7;
    .reviewer{
      font-size: 30px;
      margin-bottom: 5px;
    }
    .review-text{
      border-left: 4px solid #7f6ea0;
      padding: 10px;
    }
    &:nth-child(even){
      background: #fff;
    }
  }
}

.rate-cntr{
  padding: 20px;
  i.fa{
    color: #f1c219e0;
    cursor: pointer;
    margin-right: 10px;
    font-size: 25px;
    &:hover{
      transform: scale(1.5, 1.5);
    }
  }
}

.user-rate-cntr{
  padding: 10px;
  i.fa{
    color: #a07d00c4;
    margin-right: 10px;
    font-size: 25px;
  }
}
.add-btn-cntr{
  padding: 20px;
}
