<div class="review-cntr">
  <div *ngIf="reviewList">
    <div *ngFor="let review of reviewList" class="each-review-cntr">
      <p class="reviewer">  {{review.submitted_by}} <i class="fa fa-user"></i></p>
      <div class="review-text">
        <span>{{review.review_text}}</span>
    </div>
    <div class="user-rate-cntr">
      <i class="fa"  [ngClass]="review.rating >= 1 ? 'fa-star' : 'fa-star-o'"></i>
      <i class="fa"  [ngClass]="review.rating >= 2 ? 'fa-star' : 'fa-star-o'"></i>
      <i class="fa"  [ngClass]="review.rating >= 3 ? 'fa-star' : 'fa-star-o'"></i>
      <i class="fa"  [ngClass]="review.rating >= 4 ? 'fa-star' : 'fa-star-o'"></i>
      <i class="fa"  [ngClass]="review.rating == 5 ? 'fa-star' : 'fa-star-o'"></i>
    </div>
  </div>
</div>

<div class="add-btn-cntr">
  <div class="add-btn" id="add-new-song" (click)="openModal('add-review')">
    ADD REVIEW
  </div>
</div>

<jw-modal id="add-review">
    <h1>Add Review</h1>
    <div class="rate-cntr">
      <i class="fa" (click)="addStar(1)" [ngClass]="rating >= 1 ? 'fa-star' : 'fa-star-o'"></i>
      <i class="fa" (click)="addStar(2)" [ngClass]="rating >= 2 ? 'fa-star' : 'fa-star-o'"></i>
      <i class="fa" (click)="addStar(3)" [ngClass]="rating >= 3 ? 'fa-star' : 'fa-star-o'"></i>
      <i class="fa" (click)="addStar(4)" [ngClass]="rating >= 4 ? 'fa-star' : 'fa-star-o'"></i>
      <i class="fa" (click)="addStar(5)" [ngClass]="rating == 5 ? 'fa-star' : 'fa-star-o'"></i>
    </div>
    <div class="input-cntr-each col-width-50">
        <!-- <label for="">Year :</label> -->
        <input type="text" name="" placeholder="Write your comments" [(ngModel)]="reviewText">
    </div>
    <div class="add-btn-cntr">
      <div class="add-btn" id="add-new-review" (click)="addNewReview()">
        SUBMIT
      </div>
    </div>
    <!-- <button (click)="closeModal('custom-modal-1');">Close</button> -->
</jw-modal>
