input {
  width: 100%;
  /* padding: 12px 0; */
  padding-top: 7px;
  box-sizing: border-box;
  border-radius: 2px;
  border: none;
  border-bottom: 1.5px solid #bebeea;
  outline: none;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #4a4a4a;
  // &:focus{
  //   border-bottom: 1.5px solid red;
  // }
}

.input-cntr{
  // padding: 30px;
  font-family: "Didact Gothic", sans-serif;
  display: inline-block;
  label{
    font-size: 18px;
  }
  .input-cntr-each {
    margin-bottom: 20px;
    span{
      color: #c71919;
    }
  }
  .divider{
    // display: inline-block;
    // width: 50%;
    .col-width-50{
      display: inline-block;
      width: 30%;
      margin-left: 2%;
      &:first-child{
        margin-left: 0;
      }
    }
  }
}

.rate-cntr{
  padding: 20px;
  i.fa{
    color: #f1c219e0;
    cursor: pointer;
    margin-right: 10px;
    font-size: 25px;
    &:hover{
      transform: scale(1.5, 1.5);
    }
  }
}

.bg-song{
  width: 55%;
  height: 500px;
  display: inline-block;
  vertical-align: top;
}

.add-song-cntr{
  background: #fff;
}

.input-super-cntr{
  display: inline-block;
  background: #fff;
  padding: 15px;
}
