// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';
/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}

html,body{
  width: 100%;
  height: 100%;
  font-family: "Didact Gothic", sans-serif;
  background: #efefef;
}
.add-cntr, .add-btn, .edit-cntr {
  display: inline-block;
  /* float: right; */
  background: #500050;
  letter-spacing: 0.2px;
  color: #fff;
  padding: 7px 15px;
  border-radius: 2px;
  -webkit-box-shadow: 5px 3px 14px -3px rgba(87, 87, 87, 1);
  -moz-box-shadow: 5px 3px 14px -3px rgba(87, 87, 87, 1);
  box-shadow: 5px 3px 14px -3px rgba(87, 87, 87, 1);
  cursor: pointer;
  margin-top: 20px;
}

.edit-cntr {
  background: #5858d2;
}

.add-cntr span {
  background: #fff;
  color: #500050;
  border-radius: 11px;
  padding: 0px 5px;
  margin-left: 5px;
  font-family: sans-serif;
}

input {
  width: 100%;
  padding: 12px 0;
  box-sizing: border-box;
  border-radius: 2px;
  border: none;
  border-bottom: 1.5px solid #79257942;
  outline: none;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #4a4a4a;
  // &:focus{
  //   border-bottom: 1.5px solid red;
  // }
}

.input-cntr{
  padding: 30px;
  font-family: "Didact Gothic", sans-serif;
  label{
    font-size: 18px;
  }
  .input-cntr-each {
    margin-bottom: 20px;
    span{
      color: #c71919;
    }
  }
  .divider{
    // display: inline-block;
    // width: 50%;
    .col-width-50{
      display: inline-block;
      width: 30%;
      margin-left: 2%;
      &:first-child{
        margin-left: 0;
      }
    }
  }
}

.floating-button-cntr{
  // position: fixed;
  // top: 20%;
  // right: 2%;
  height: 30px;
  width: 13px;
  color: #fff;
  background: pink;
  padding: 10px 20px;
  letter-spacing: 0.4px;
  font-weight: bold;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 11px 7px 15px -6px rgba(235,185,192,1);
  -moz-box-shadow: 11px 7px 15px -6px rgba(235,185,192,1);
  box-shadow: 11px 7px 15px -6px rgba(235,185,192,1);
  transition: 0.1s;
  &:hover{
    padding: 12px 22px;
  }
  .float-button{
    vertical-align: -webkit-baseline-middle;
    transform: translate(-1px, -5px);
  }
}

.hide{
  display: none;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #50005040;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #500050;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.divider span{
  margin-right: 10px;
}
@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

@include igx-core();
@include igx-theme($default-palette);
