/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}

html,body{
  width: 100%;
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
}
.add-cntr, .add-btn, .edit-cntr {
  display: inline-block;
  /* float: right; */
  background: #3a8e1f;
  letter-spacing: 0.2px;
  color: #fff;
  padding: 7px 15px;
  border-radius: 2px;
  -webkit-box-shadow: 5px 3px 14px -3px rgba(87, 87, 87, 1);
  -moz-box-shadow: 5px 3px 14px -3px rgba(87, 87, 87, 1);
  box-shadow: 5px 3px 14px -3px rgba(87, 87, 87, 1);
  cursor: pointer;
}

.edit-cntr {
  background: #5858d2;
}

.add-cntr span {
  background: #fff;
  color: #3a8e1f;
  border-radius: 11px;
  padding: 0px 5px;
  margin-left: 5px;
  font-family: sans-serif;
}
