<div class="about-section">
  <section class="music">
    <i class="fa fa-music"></i>
    <p class="sub-head"> Review your fav songs</p>
    <p class="brief">Criticise or love the songs by giving your own opinion about them. See the ratings and reviews from the other people.</p>
  </section>
  <section class="music">
    <i class="fa fa-users"></i>
    <p class="sub-head"> Be a confident user</p>
    <p class="brief"> Secure user authentication mechanism which allows the authenticated expose to different functionalities of the application.</p>
  </section>
  <section class="music">
    <i class="fa fa-fast-forward"></i>
    <p class="sub-head">Go crazy with your playlist</p>
    <p class="brief"> Create/Manage your own playlist, add songs, reviews, and have the liberty of all actions with your own playlist.   </p>
  </section>
</div>
