<div class="create-playlist-cntr">
  <div class="bg-song">
    <marquee behavior="scroll" direction="left">Experience your own playlist benefits by adding your favourite songs to playlist and access them anywhere, anytime. <i class="fa fa-hand-peace-o"></i></marquee>

  </div>
  <div class="input-cntr">
    <p class="head-playlist-cntr"> CREATE YOUR PLAYLIST</p>
    <div class="input-cntr-each">
      <label for="">Title <span>*</span> :</label>
      <input type="text" name="" id="title" [(ngModel)]="title">
    </div>

    <div class="input-cntr-each">
      <label for="">Description :</label>
      <input type="text" name="" id="artist" [(ngModel)]="description">
    </div>

    <div class="playlist-song-cntr" *ngIf="songList">
      <p>SONG LIST</p>
      <div class="song-list-cntr" *ngFor="let song of songList">
        <div class="song-list-each">
            <input type="checkbox" name="song-id" value="{{song._id}}" id="{{song._id}}">
            <label for="{{song._id}}">{{song.song_title}}</label>
        </div>
      </div>
    </div>

    <!-- <div class="divider">
        <label for="">Playlist Type :</label>
        <span>
          <input type="radio" id="private" name="playlist-type" value="true">
          <label for="private">Private</label>
        </span>
        <span>
          <input type="radio" id="public" name="playlist-type" value="false">
          <label for="public">Public</label>
        </span>
    </div> -->

    <div class="add-btn-cntr">
      <div class="add-btn" (click)="createNewPlaylist()">
        Create Playlist
      </div>
    </div>

  </div>
</div>

<jw-modal id="process-modal" class="process-modal">
  <img src="assets/images/process-gif.gif" alt="">
  <p> Connecting with server....</p>
</jw-modal>
